
body {

}

.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;

}

@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}
.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}
#page {
    margin-left: 390px;
    padding: 0;
}

/* Navigation */
nav{
    width: 390px;
    height: 100%;
    background: #673AB7;
    position: fixed;
    top: 0;
    z-index: 2;
    transition: left .7s;
    -webkit-transition: left .7s;
    padding-right: 10px;
    left: 0; box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.loading {

position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;

}
@font-face {
    font-family: Roboto-Thin;
    src: url(fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: RobotoCondensed-Light;
    src: url(fonts/RobotoCondensed-Light.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Precious;
    src: url(fonts/Precious.ttf);
}
@font-face {
    font-family: Rhumba;
    src: url(fonts/RhumbaScriptNF.ttf);
}
@font-face {
    font-family: Rosermery;
    src: url(fonts/Rosemary%20Roman.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}
.headerTxt {
    color: white;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    border-bottom: 1px solid white;
    margin-left: 50px;
    padding-top: 25px;
    margin-bottom: 15px;
    margin-right: 50px;
    font-family: Roboto-Thin,sans-serif;

}
footer {
    margin-left: 50px;
    color: white;
    font-family: Roboto-Light,sans-serif;
}
a{
    font-family:Rosemery,sans-serif;
}
.dsc {
    margin-left: 50px;
    color: white;
    font-family: Roboto-Light,sans-serif;
}
.gap {
    padding-top: 10px;
    padding-bottom: 10px;
}
p {

    padding-bottom: 5px;
    margin: 0;
}


/*Ignore me, I'm just page styling*/
html {font-family: 'Roboto', sans-serif;font-size:16px;height:100%;}
body {
    background: #ffffff;

}
.header {
    background: url("images/image_2.png");
	font-family:Rosermery,sans-serif;
    width: 100%;
    height: 250px;
color:white;
}

.header_style {
    padding-top: 100px;
    font-family: Rosermery,sans-serif;
    font-size: 32px;
    padding-left: 50px;
    font-weight: lighter;
    color:white;
    text-align: center;
	
}
a{
	color:white;
	font-family:Rosermery,sans-serif;
    text-decoration:none;
	
}
.footer 	
{ 
    text-align:center; 
            font-family:Roboto-Light,sans-serif;

}
.footer a  
{ color:#53B2C8; 
        font-family:Roboto-Light,sans-serif;


}

h1, input::-webkit-input-placeholder, button {
    font-family: 'roboto', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

h1 {
    font-size: 28px;
    color: black;
    font-family: RobotoCondensed-Light,sans-serif;

}

button {
    border: none;
    background: #1abc9c;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    color: white;
    margin-left: 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
button:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}
* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */
body {
    padding: 0;
    margin: 0;
}
h2 {
    font-family: Roboto-Regular,sans-serif;
}
.container 		{

    width:600px;
    margin:30px auto 0;
    display:block;
    background:#FFF;
    padding:10px 50px 50px;
	color:black;

}
.container img{
	width:45;
	height:45;
}
.container p {
    color: black;
}
h2 		 {
    text-align:center;
    margin-bottom:50px;
}
h2 small {
    font-weight:normal;
    color:#888;
    display:block;
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  {
    position:relative;
    margin-bottom:45px;
}
input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}

.progressBarArea {
    display: none;
}
/* resets */
*,
*:before,
*:after {
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* global */

.wrapper {
    margin: 0 auto;
    padding: 20px;
    max-width: 95%;
    background-color: #fff;
}

.jspTrack
{
    background: #b46868; /* changed from #dde */
    position: relative;
}

.jspDrag
{
    background: rgba(0,0,0,0.2); /* changed from #bbd */
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

img{
    width:100%;
}

.half{
    width:50%;
    float:left;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(left, #673AB7, #6746b7);
    border: 1px solid #333;
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);
}