 
body{
  background:#6f5499;
  
}

header{
  background:#0275d8;
  padding: 15px 20px;
  color: #fff;
  
  font-weight: bold;
  display: block;
  margin: -10px;
  margin-bottom: -1px;
}

header a{
  text-decoration: none;
  color: #eff4f7;
}

header a:hover{
  color: #101010;
}

header .logo{
  width:120px;
  padding-left:520px;
}

header h1{
  font-family:"Helvetica Neue", Helvetica, Arial,sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top:4px;
}

.section{
  border:3px solid #0A8;
  background:#333;
  font-size: 30px;
  text-align: center;
  width: 650px;
  height: 120px;
  margin-left:305px;
  padding-top: 28px;
  line-height: 1.2em;

}

.section a{
  text-decoration: none;
  color: #0ff;
}

.section a:hover{
    color: #afd;
}

.button{
  width: 175px;
  margin-left: 400px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 23px;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid #213;
   border-radius: 4px;
  background-color: #2e6da4;
  color: #fff;
}

.button:hover{
  background-color: #434343;
}

.btn{
  width: 175px;
  margin-left: 30px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 23px;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid #213;
  border-radius: 4px;
  background-color: #2e6da4;
  color: #fff;
}

.btn:hover{
  background-color: #434343;
}



.container {
  margin: 80px auto;
  width: 640px;
}

.form{
  font-family: 'Open Sans Condensed', arial, sans;
  width: 500px;
  padding: 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form h2{
  background: #4D4D4D;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #0dd;
  font-size: 22px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
  text-align: center;
}

.form input[type="text"],
.form input[type="password"],
.form input[type=email]
{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 2px solid #434343;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

.form input[type="button"]

{
  -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
  box-shadow: inset 0px 1px 0px 0px #45D6D6;
  background-color: #2CBBBB;
  border: 1px solid #27A0A0;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 100px;
  margin-top:12px;
  width: 110px;
}

.form input[type="button"]:hover{
  background-color: #434343;
  color:lime;
}

 .form a{
    margin-left: -60px;
}



#send-button{
  width: 222px;
}

.course{
  border: 2px solid #4D4D4D;
  background-color: #4D4D4D;
  width: 555px;
  height: 295px;
  margin-left: 344px;
}

.course span{
  color: lime;
}
.course h1{
  text-align: center;
  border-bottom: 1px solid #ccc;
  color: gold;
  margin-top:8px;
  font-size:30px;
  margin-bottom: 15px;
  font-family: Cursive;

}

.course select{
  margin-left: 85px;
  background-image:url(img/down_arrow_select.jpg);
  background-repeat:no-repeat;
  background-position:300px;
  width:353px;
  padding:12px;
  margin-top:8px;
  font-family:Cursive;
  line-height:1;
  border-radius:5px;
  background-color:#A2AB58;
  color:#ff0;
  font-size:20px;
  -webkit-appearance:none;
  box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.6);
  outline:none

}

.course select:hover {
  color:#fdfdfd;
}


#home h1{
  text-align: center;
  border-bottom: 1px solid #ccc;
  color: gold;
  margin-top:8px;
  font-size:50px;
  margin-bottom: 15px;
  font-family: Cursive;

}

.home {
  margin-left: 400px;
  font-weight: bold;
  font-size: 19px;
  background-color: #333;
  width: 350px;
  height: 190px;
  text-align: center;

}

.home a{

  line-height: 1.6em;
  text-decoration: none;
  font-family: cursive;
  color: #cfcfcf;  
}

footer{
  background: #333;
  color: #fff;
  padding: 30px 0 20px 0;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  width:500px;
  
}

footer a{
  color: #fff;
  text-decoration: none;
}
.d1{
  float:right;
  font-weight: bold;
}
.d2
{
  float:center;
  font-weight:bold;
}
.d3
{
  float:right;
  font-weight: bold;
  font-size: 50px;
 -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; 
display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}


/* Animation Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


/*
.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  @include box-shadow(0 0 200px rgba(white, .5), 0 1px 2px rgba(black, .3));

  &:before {
    content: '';
    position: absolute;
    top: -8px; right: -8px; bottom: -8px; left: -8px;
    z-index: -1;
    background: rgba(black, .08);
    border-radius: 4px;
  }
  

  
  h1 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    
  }

  p { margin: 20px 0 0; }
  p:first-child { margin-top: 0; }

  

  p.remember_me {
    float: left;
    line-height: 31px;

    label {
      font-size: 12px;
      color: #777;
      cursor: pointer;
    }

    input {
      position: relative;
      bottom: 1px;
      margin-right: 4px;
      vertical-align: middle;
    }
  }

  p.submit { text-align: right; }
}

.login-help {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  
}

*/